<form [formGroup]="form">
         <div formArrayName="contacts">
                  <div *ngFor="let X of contactsArray.controls; let ix=index">
                           <div [formGroupName]="ix" class="Xs">
                                    <input type="text" formControlName="phoneNo">
                                    <!-- <p>{{ formErrors?.Xs[ix].X }}</p> -->
                                    <div formArrayName="contactUsers">

                                             <div *ngFor="let Y of getYsArray(ix).controls; let iy=index">
                                                      <div [formGroupName]="iy" class="Ys">
                                                               <select formControlName="product"
                                                                        (change)="productSelected($event)">
                                                                        <option *ngFor="let product of products"
                                                                                 [attr.data-product_id]="product.id"
                                                                                 [value]="product.id">
                                                                                 {{product.name}}
                                                                        </option>
                                                               </select>
                                                               <div formArrayName="Zs">
                                                                        <div
                                                                                 *ngFor="let Z of getZsArray(ix,iy).controls; let iz=index">
                                                                                 <div [formGroupName]="iz" class="Zs">
                                                                                          <select formControlName="Z">
                                                                                                   <option *ngFor="let item of filteredItems"
                                                                                                            [value]="item.id">
                                                                                                            {{item.name}}
                                                                                                   </option>
                                                                                          </select>
                                                                                 </div>
                                                                        </div>
                  <input type="button" (click)="addZ(ix,iy)" value="Add Z">
                  </div>
                  </div>
                  </div>
         <input type="button" (click)="addY(ix)" value="Add Y">
         </div>
         
         <div formArrayName="Ws">
                  <div *ngFor="let W of getWsArray(ix).controls; let iw=index">
                           <div [formGroupName]="iw" class="Ws">
                                    <select formControlName="state" (change)="stateSelected($event)">
                                             <option *ngFor="let state of states" [attr.data-state_id]="state.id"
                                                      [value]="state.id">
                                                      {{state.name}}
                                             </option>
                                    </select>
                                    <select formControlName="city">
                                             <option *ngFor="let city of filteredCities" [value]="city.name">
                                                      {{city.name | titlecase}}
                                             </option>
                                    </select>
                                    <input type="button" (click)="removeW(ix,iw)" value="Remove W">
                           </div>
                  </div>
                  <input type="button" (click)="addW(ix)" value="Add W">
         </div>
         </div>
         </div>
         <input type="button" (click)="addX()" value="Add X">
         </div>
         <form>
                  -->
                  <h5>Field Values</h5>
                  <pre style="font-size:15px">
                      {{ form.value | json }}
                      </pre>